$primary: #ED5252;
$primary-light: #FFB6B6;
$primary-dark: #D54A4A;

$gray-base: #BFC3D5;
$gray-dark: #3A3545;
$gray-dark-2: #C4C4C4;
$gray-easy: #EFEFEF;
$gray-soft: #DFDFDF;

$orange-semilight: #ECA688;

$white-light: #FFFFFF;

$green-light: #A7CE8E;

$reg-light: #F5B6A6;